.radar-chart {
    background-color: #333333; // Fond gris foncé
    border-radius: 10px;
    padding: 20px;
    color: #FFFFFF; // Texte blanc
    margin: 20px auto;
    width: 30%; // Limite la largeur à 30%
}