.radial-bar-chart {
    background-color: #FBFBFB; // Fond blanc
    border-radius: 5px;
    padding: 10px; // Réduire le padding pour gagner de l'espace
    color: #20253A; // Texte noir
    margin: 20px auto;
    width: 258px; // Limite la largeur à 258px
    height: 258px; // Limite la hauteur à 258px
    display: flex;
    flex-direction: column;
    align-items: center; // Centrer les éléments horizontalement
    justify-content: center; // Centrer les éléments verticalement
    position: relative; // Permet de positionner le titre absolument

    .chart-title {
        font-size: 14px; // Réduire la taille de la police pour gagner de l'espace
        font-weight: bold;
        color: #20253A; // Texte noir
        position: absolute; // Positionner absolument le titre
        top: 10px; // Positionner le titre en haut
        left: 10px; // Positionner le titre à gauche
    }

    .progress-label {
        font-size: 14px; // Réduire la taille de la police pour gagner de l'espace
        font-weight: bold;
        fill: #000000; // Texte noir
    }
}