@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* La page occupe toute la hauteur */
}

.main-content {
  display: flex;
  flex: 1; /* Cette section occupe tout l'espace restant sous la barre horizontale */
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.main-content-row {
  display: flex;
  width: 100%;
}

.main-content-left {
  width: 70%;
}

.daily-activity {
  width: 100%;
  margin-bottom: 20px;
}

.charts {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nutri-cards-column {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  gap: 20px;
}

span{
  color: red;
}